<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
	<title>share your food</title>
	
	<link rel="apple-touch-icon" sizes="180x180" href="img/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="img/favicon-16x16.png">
	<link rel="manifest" href="/manifest.json">
	<link rel="mask-icon" href="img/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="theme-color" content="#ffffff">
	<link rel="stylesheet" href="./css/screen.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.2.0/jquery.rateyo.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.2.0/jquery.rateyo.min.js"></script>

</head>
<body>
	<header>
		<div class="side"></div>
		<div class="container">
			<div class="logo">
				<img src = "images/LOGO-02.png">
			</div>
			<div id ="profileBox">
				<div class="register">
				<% if( user == undefined ){%>
					<a>註冊</a>
				<% }else{ %>
					<img src="./img/01.png" alt="profile" style="width: 35px;height: 35px;border-radius: 50%">
				<%}%>
				</div>
				<div class="login">
					<% if( user == undefined ){%>
						<a href="./login">登入</a>
					<%}else{%>
						<a style="font-size: 17px"></a>
					<%}%>
				</div>
			</div>
			<nav>
				<div class = "recommend"><a href="">推薦</a></div>
				<div class = "near"><a href="/near">附近</a></div>
				<div class = "popular"><a href="">熱門</a></div>
				<div class = "price"><a href="">價格</a></div>
			</nav>
			<form action="">
				<input id = "search" placeholder="快速搜尋">
				<label for="search">
					<img src="images/search.png" alt="search">
				</label>
			</form>
			<div id="nav-list-btn">
				<img src="images/nav_list.png" alt="nav_list">
			</div>
		</div>
		<div id = "rwdList">
			<div class="login">
				<a href="">登入</a>
			</div>
			<div class="register">
				<a href="">註冊</a>
			</div>
			<div class="recommend">
				<a href="">推薦</a>
			</div>
			<div class="near">
				<a href="">附近</a>
			</div>
			<div class="popular">
				<a href="">熱門</a>
			</div>
			<div class="price">
				<a href="">價格</a>
			</div>
		</div>
	</header>
	<div class="mainPage">
		<div class="postBoard">
			<% for(let i = 0 ; i < posts.length ; i++) {%>
			<div class="posts">
				<a href="/foodpage/<%= posts[i]["id"] %>" target="_blank">
					<div class="foodPicture" style="background-image: url('<%=posts[i]["img_url"]%>')"></div>
					<!--<img class = "foodPicture" src="images/001.jpg" alt="">-->
					<div class="info">
						<div class="title">
							<a><%=posts[i]["title"]%></a>
						</div>
						<div class="top">
							<a>$<%= posts[i]["price"]%>/份</a>
						</div>
						<div class="bottom">
							<a class="comment">10 comments</a>
							<div class="moreInfo">
								<div></div>
								<div></div>
								<div></div>
							</div>
						</div>
					</div>
				</a>
			</div>
			<% }%>
			<!--<div class="posts">
				<a href="" target="_blank">
					<div class="foodPicture" style="background-image: url('images/002.jpg')"></div>
					<div class="info">
						<div class="title">
							<a>湖南味紅蟳油飯</a>
						</div>
						<div class="top">
							<a>$100/人</a>
						</div>
						<div class="bottom">
							<a class="comment">8 comments</a>
							<div class="moreInfo">
								<div></div>
								<div></div>
								<div></div>
							</div>
						</div>
					</div>
				</a>
			</div>
			<div class="posts">
				<a href="" target="_blank">
					<div class="foodPicture" style="background-image: url('images/003.jpg')"></div>
					<div class="info">
						<div class="title">
							<a>道地台味米苔目</a>
						</div>
						<div class="top">
							<a>$100/人</a>
						</div>
						<div class="bottom">
							<a class="comment">5 comments</a>
							<div class="moreInfo">
								<div></div>
								<div></div>
								<div></div>
							</div>
						</div>
					</div>
				</a>
			</div>
			<div class="posts">
				<a href="" target="_blank">
					<div class="foodPicture" style="background-image: url('images/004.jpg')"></div>
					<div class="info">
						<div class="title">
							<a>五穀養生黑高糖</a>
						</div>
						<div class="top">
							<a>$100/人</a>
						</div>
						<div class="bottom">
							<a class="comment">5 comments</a>
							<div class="moreInfo">
								<div></div>
								<div></div>
								<div></div>
							</div>
						</div>
					</div>
				</a>
			</div>
			<div class="posts">
				<a href="" target="_blank">
					<div class="foodPicture" style="background-image: url('images/005.jpg')"></div>
					<div class="info">
						<div class="title">
							<a>櫻桃蘋果蛋塔</a>
						</div>
						<div class="top">
							<a>$100/人</a>
						</div>
						<div class="bottom">
							<a class="comment">11 comments</a>
							<div class="moreInfo">
								<div></div>
								<div></div>
								<div></div>
							</div>
						</div>
					</div>
				</a>
			</div>
			<div class="posts">
				<a href="" target="_blank">
					<div class="foodPicture" style="background-image: url('images/006.jpg')"></div>
					<div class="info">
						<div class="title">
							<a>特級麻婆豆腐</a>
						</div>
						<div class="top">
							<a>$100/人</a>
						</div>
						<div class="bottom">
							<a class="comment">10 comments</a>
							<div class="moreInfo">
								<div></div>
								<div></div>
								<div></div>
							</div>
						</div>
					</div>
				</a>
			</div>
			<div class="posts">
				<a href="" target="_blank">
					<div class="foodPicture" style="background-image: url('images/007.jpg')"></div>
					<div class="info">
						<div class="title">
							<a>五香牛肉麵</a>
						</div>
						<div class="top">
							<a>$100/人</a>
						</div>
						<div class="bottom">
							<a class="comment">7 comments</a>
							<div class="moreInfo">
								<div></div>
								<div></div>
								<div></div>
							</div>
						</div>
					</div>
				</a>
			</div>
			<div class="posts" target="_blank">
				<a href="">
					<div class="foodPicture" style="background-image: url('images/008.jpg')"></div>
					<div class="info">
						<div class="title">
							<a>炭烤薰香鴨肉</a>
						</div>
						<div class="top">
							<a>$100/人</a>
						</div>
						<div class="bottom">
							<a class="comment">16 comments</a>
							<div class="moreInfo">
								<div></div>
								<div></div>
								<div></div>
							</div>
						</div>
					</div>
				</a>
			</div>-->
		</div>
	</div>
	<script src = "js/food_mainPage_app.js"></script>
	<script>

	</script>
</body>
</html>